img {
  max-width: 30px;
  max-height: 30px;
}
.jumbotron {
  background-color: crimson;
  width: 100%;
  color: white;
  text-align: center;
}
form {
  margin-left: 15px;
}
#pizzas {
  display: none;
}
input[type="text"] {
  width: 33%;
  display: block;
}
#add-pie {
  align-items: left;
  background-color: crimson;
}
#submit-order {
  background-color: crimson;
  color: white;
}
.btn {
  margin-left: 15px;
  color: white;
}
